<!DOCTYPE html>
<html>
<head>
    <title></title>
</head>
    <body>
        <table class="table table-bordered">
            <tr>
                <th>Name</th>
                <th>University</th>
            </tr>
            <tr>
                <td>Saleque Mahmud Sourav</td>
                <td>United International University</td>
            </tr>
            <tr>
                <td>S.M. Nahiyan Uzzaman</td>
                <td>United International University</td>
            </tr>
            <tr>
                <td>Md.Thowhidur Rahaman</td>
                <td>United International University</td>
            </tr>
            <tr>
                <td>Md.Sohanoor Rahaman</td>
                <td>United International University</td>
            </tr>
        </table>
    </body>
</html>
